/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*--------------------------------------Header/Navigation----*/

.logo img {
    width: 250px;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px
}

.navbar-toggler {
    margin: 10px;
    font-size: .8rem;
    text-align: right;
}

.navbar {
    min-height: 100px;
    z-index: 991;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.nav-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
    font-family: "Holtwood One SC", sans-serif;
    margin-top: 20px;
    color: rgb(104, 110, 115);
    text-align: center;
    margin-left: 15px;
    padding-bottom: 0;
}

.nav-item i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    line-height: 0;
    display: none;
}

.nav-item:hover i {
    display: block;
}

/*
I found this bit of code on stackoverflow which helped me understand how to display the active page link. 
https://stackoverflow.com/questions/17318170/highlighting-the-current-page-in-a-list-of-links-using-css-html
*/
.current a i,
.current span {
    display: block;
    color: rgb(47, 49, 51)
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/*--------------------------Footer------------------------------ */

.footer-row {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(104, 110, 115);
    width: 100%;
    min-height: 70px;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
            box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.contact-details {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
}

.social-icons {
    font-size: 25px;
    margin-top: 15px;
    text-align: right;
    color: white;
    position: relative;
}

.social-icons i {
    margin-right: 10px;
}

.social-icons i:hover {
    color: #f5c2d4;
}

/* Below is the bootstrap CSS for their button
with alterations to achieve 3d effect when clicked */

.call-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f8f9fa;
    text-align: center;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-width: 180px;
    margin: 0;
    position: relative;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .5);
            box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .5);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .95rem;
}

.call-button:active {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #f5c2d4;
}

.call-button:hover {
    background-color: #f5c2d4;
}

.text-field .call-button {
    top: 100%;
}

.contact-details span .fa-phone {
    position: absolute;
    left: 170px;
    bottom: 40px;
    line-height: 0;
    display: none;
}

.contact-details span:hover .fa-phone {
    display: block;
    text-decoration: none;
}

.contact-details span .fa-envelope {
    position: absolute;
    left: 205px;
    bottom: 13px;
    line-height: 0;
    display: none;
}

.contact-details span:hover .fa-envelope {
    display: block;
}

.call-button-container form{
    display: inline;
}
/*------------------Home Page ---------------------------------*/

.parallax {
    background-image: url(../../assets/images/background.jpg);
    position: relative;
    background-color: rgb(104, 110, 115);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 165px);
}

.main-message {
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    text-align: center;
    font-size: 25px;
    padding: 2rem;
    width: 40%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.main-message h1 {
    color: #eeb251;
}

.main-message hr {
    border: 1px solid #eeb251;
    width: 40px;
    margin: auto;
}

.main-message p{
    margin-bottom: 0;
}
.main-message i {
    color: #eeb251;
}

.home-container .splash-image {
    padding: 2px;
    width: 550px;
}

.splash-image img {
    width: 100%;
}

.text-field h1 {
    font-size: 1.8rem;
}

.main-message form {
    position: absolute;
    height: 38px;
    left: 50%;
    right: 50%;
    bottom: 0;
}

.home-container i {
    margin: 6px;
}

/*-----------------------------Prices page----------------------------- */
.prices-banner{
    text-align: left;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    padding: 30px;
}

.prices-column {
    -webkit-column-count: 3;
        -moz-column-count: 3;
            column-count: 3;
}

.prices-banner li {
    list-style-type: none;
    font-size: 20px;
}

.prices-banner .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30px;
}

.prices-banner span:nth-child(2) {
    color: pink;
}

.prices-banner i {
    color: darkgray;
}

.prices-banner h1{
    color:#f5c2d4;
    margin: 20px;
    font-size: 30px; 
    font-family: "Holtwood One SC", sans-serif;
    text-align: center;
    margin-top: 12px;
}

.main-prices hr{
    border: 3px solid white;
    width: 80px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-top: 13px;
}

.services-banner {
    text-align: left;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color:black;
    background-color: rgb(255 255 255 / 0.87);
    border-radius: 60px;
    padding: 10px;
    font-size: 20px; 
}

.services-banner p{
    margin-right: 41px
}

td:nth-child(1) p{
    color:#696969;
    text-align: left;
}

.services-banner .dogsize{
    padding-bottom: 20px;
    display: none;   
}

.services-banner h1{
    font-family: "Holtwood One SC", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    color:#696969;
    text-align: center;
}

.services-banner hr{
    border: 3px solid #ffc0cb;
    width: 80px;
    margin: auto;
    border-radius: 3px;
    margin-top: 13px;
}

.services-banner i{
    color:saddlebrown;
    padding: 10px
}

.price-row{
    margin-right: 0;
}

/*-------------------------- Gallery ----------------------------*/

.gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.gallery {
    position: relative;
    padding: 40px;
}

.gallery img {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    -o-object-fit: cover;
        object-fit: cover;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 16px #333;
            box-shadow: 0 0 16px #333;
    z-index: 999;
    border: 2px solid transparent;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.gallery img:hover {
    -webkit-box-shadow: 0 0 32px #333;
            box-shadow: 0 0 32px #333;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/*Hides photos on desktop size to ensure an even display of pictures on desktop v's mobile. 
I picked my least favourite dog picture */
.hideforsymmetry {
    display: none;
}

.image-container {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 250px;
    text-align: center;
}

.image-container img {
    width: 100%
}

.image-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: black;
    font-size: 35px;
    font-family: "Holtwood One SC", sans-serif;
    color: dimgrey;
}
/*------------------------- Contact page ------------------------------*/

/*I used w3schools 'how to' section to help make the form. https://www.w3schools.com/howto/howto_css_contact_form.asp. */
.form-container {
    border-radius: 60px;
    background-color: white;
    opacity: 0.9;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 20px;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 5px -2px 10px rgba(50, 50, 50, 0.75);
            box-shadow: 5px -2px 10px rgba(50, 50, 50, 0.75);
}

.form-container label {
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

.submit-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
    background-color:#f8f9fa;
    text-align: center;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-width: 180px;
    margin: 20px 0;
    position: relative;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .5);
            box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .5);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .95rem;
}

.submit-button:hover {
    background-color: #f5c2d4;
    color: white;
}

.submit-button:active {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
}

.submit-button:focus {
    outline: 0;
}

.contact-page-button {
    display: none;
}

iframe{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

.map h1, p{
    text-align: center;
}

/*-----------------------------RESPONSIVE SCREEN SIZES ----------------------*/

/*********************************************************/

/*-------------------------Small Desktop------------------------*/
@media only screen and (max-width: 991px) {

    /*-----------------------Navbar Media queries--------------------------*/
    .logo img {
        width: 180px;
    }

    .navbar {
        min-height: 80px;
    }

    .nav-link {
        text-align: right;
        margin: 20px;
        padding: 0;
    }

    .nav-item i {
        display: none;
    }

    .current a i {
        display: none;
    }

    .text-field {
        margin: 0 auto;
    }

    .nav-item:hover i {
        display: none;
    }

    /*-----------------------Home page Media queries--------------------------*/
    .home-container .splash-image {
        width: 500px
    }

    .home-container .main-message {
        font-size: 20px;
        padding: 20px;
        margin: 16px;
    }

    .home-container {
        min-height: calc(100vh - 150px);
    }

    .home-container .main-message h1 {
        font-size: 30px;
    }
    .main-message i {
        margin-bottom: 30px;
}

    /*----------------Prices page Media queries--------------------------*/
    .prices-column {
        -webkit-column-count: 2;
            -moz-column-count: 2;
                column-count: 2;
        margin-left: auto;
        margin-right: auto;
    }

    .main-prices .row {
        margin-top: 0;
    }

    .main-prices .list-unstyled {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    /*---------------Gallery page Media queries--------------------------*/

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

/*------------------------Tablet size screen-------------------------*/
@media only screen and (max-width: 768px) {

    /*-----------------------Footer Media queries--------------------------*/


    .footer-row form{
        display: none;
    }

    .text-field {
        position: relative;
        margin-left: 10px;
    }

    .contact-details span:hover i.fa-phone {
        display: none;
    }

    .contact-details span:hover .fa-envelope {
        display: none;
    }

    /*---------------Home pages Media queries--------------------------*/

    .home-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .home-container .splash-image {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .home-container .main-message {
        width: 500px;
        margin-bottom: 50px;
        margin-top: 12px;
    }

    .home-container .main-message h1 {
        font-size: 30px;
    }

    /*----------------Prices page Media queries--------------------------*/
    .main-prices .row {
        margin-top: 8%;
    }

    .prices-column {
        -webkit-column-count: 2;
            -moz-column-count: 2;
                column-count: 2;
        font-size: 20px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .services-banner{
        font-size: 18px;
    }

    .main-prices .row {
        margin-top: 0;
    }

    .main-prices .list-unstyled {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    /*-------------------Gallery page Media queries--------------------------*/
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

/*-------------------------Mobile size screen---------------------------*/
@media only screen and (max-width: 580px) {

    /*-----------------------Footer Media queries--------------------------*/
    /*I hid the footer row button on smaller screens as it gets a little too cramped*/
    .footer-row form {
        display: none;
    }

    .contact-details {
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
    }

    .social-icons {
        text-align: center;
        margin-top: 5px;
    }

    .call-button {
        text-align: center;
        margin-top: 10px;
    }

    .text-field {
        width: 90%;
        font-size: 16px;
    }

    /*-----------------------Home page Media queries--------------------------*/

    .home-container .splash-image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90vw;
    }

    .home-container .main-message {
        width: 90vw;
    }

    /*-----------------------Prices page Media queries----------------*/
    .main-prices .row {
        margin-top: 8%;
    }

    .main-prices .row {
        margin-top: 0;
    }

    .main-prices .list-unstyled {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .image-container {
        width: 180px;
        margin-bottom: -40px;
        z-index: 99;
    }

    .image-container p {
        font-size: 20px;
    }

    .prices-column {
        -webkit-column-count: 1;
            -moz-column-count: 1;
                column-count: 1;
    }
    
    .prices-banner .list-item{
        margin-left: 0;
    }
    .prices-banner li{
        list-style-type: none;
        font-size: 18px;
    }
    .prices-banner h1{
        font-size: 26px;
    }

    .services-banner {
        text-align: left;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        color: black;
        background-color: rgb(255 255 255 / 87%);
        border-radius: 60px;
        padding: 10px;
        font-size: 13px;
    }
    
    .services-banner p{
        margin-right:2px;
    }
    .services-banner h1{
        font-size: 26px;
    }

    /*-------------------Gallery page Media queries--------------------------*/

    .responsive {
        width: 32.33%;
        height: 100px;
        margin-top: 3px;
        /*I change the display to inline-block to arrange the picture tiles in mobile as I was not able to center the align-items: 
        using float value. In order to use display I had to undefine the float value from previous .responsive rule*/
        float: unset;
        display: inline-block;
    }

    .gallery {
        padding: 0;
        margin: 1px;
        background-color: #21252930;
        border-radius: 30px;
        margin-top: 20px;
        padding-bottom: 40px;
    }

    .gallery img {
        height: 100px;
        padding: 3px;
        margin-top: 20px;
        border: 0 solid transparent;
    }

    /*-------------------Contact page Media queries--------------------------*/
    .form-container {
        padding: 20px;
        width: 90%;
    }
}